* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

header {
  padding: 20px 35px;
  background-color: black;
  color: red;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

header ul {
  list-style-type: none;
}

header a {
  color: red;
  text-decoration: none;
}

footer {
  background: black;
  width: 100%;
  padding: 40px 35px;
}

footer h3 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}
