
* {
  margin: 0;
  padding: 0;
}

.container, .container ul {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  background-color: red;
  padding: 35px 0px 8px 45px;
}

.container li, .container a {
  list-style: none;
  text-decoration: none;
  /* display: flex; */
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.containerBody, .containerAside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.containerFooter {
  background-color: aqua;
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}


