* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgba(255, 0, 0, 0.381);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 2rem 1rem 2rem;
    height: 10vh;
}

.navbar h1 {
    color: white;
}

/* Hero Section */
.hero {
    background: rgba(207, 156, 255, 0.537);
    height: 300px;
}

/* Hero Form Section Styling */
.hero-form {
    background: orange;
}